body {
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#projeto {
    margin: 5%;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background: transparent;
    box-shadow: #fff 0 0 8px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    height: 80%;
}

#projeto h2 {
    color: #fff;
    text-align: center;
    width: 100%;
}

#frase {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;
    color: lightgray;
    margin-top: 10px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}


.botao {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

input {
    font-size: 25px;
    margin: 5px 0;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid black;
    width: 50%;
    box-sizing: border-box;
}
#reiniciar{
    background-color: gray;
}
button {
    margin: 5px 0;
    padding: 2%;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 60%;
    box-sizing: border-box;
}

button a {
    text-decoration: none;
    color: white;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 50%;
    border-radius: 5px;
    margin: 0 5px;
}

@media screen and (max-width: 1100px) {
    .projeto {
        align-items: center;
        text-align: center;
    }

    .container1 {
        width: 70%;
        align-items: center;
    }

    input,
    button {
        width: 100%;
        font-size: 15px;
    }

    img {
        display: none;
    }
    #frase {
     display: none;
    }
}
